[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	exclusiveGroupPermissions = forgeAuthor forgeCommitter forgeServerAsCommitter
	abandon = group land dev
	create = group land dev
	forgeAuthor = group land dev
	forgeCommitter = group land dev
	forgeServerAsCommitter = group land dev
	push = +force group land dev
	pushMerge = group land dev
	label-Code-Review = -2..+2 group land dev
	label-Verified = -1..+1 group land dev
	rebase = group land dev
	submit = group land dev
	editTopicName = group land dev
	editAssignee = group land dev
